/* Apply custom scrollbar styles */
::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    height: 6px; /* Height of the scrollbar for horizontal scrolling */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
  }
  

  .buttonStyled {
    @apply px-4 py-2 bg-orange-500 text-white font-semibold rounded-md shadow-sm 
           hover:bg-orange-600 transition-all;
  }
  
  .inputStyled {
    @apply block w-full px-4 py-2 text-sm dark:text-gray-200 border 
           bg-gray-50 border-gray-200 rounded-sm dark:bg-zinc-800 
           dark:border-zinc-700 focus:outline-none focus:ring-1 
           focus:ring-orange-500 focus:bg-orange-50;
  }

  .cancelBtn {
    @apply bg-orange-100 dark:bg-orange-900 text-orange-500 dark:text-orange-400 p-2 rounded-md border border-orange-300 hover:bg-orange-500 hover:text-white transition-all;
  }
  



