@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  font-family: "Inter", serif;
}
h1{
  font-family: "Dosis", serif;
}

/* Custom Scrollbar for WebKit Browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Remove the track background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Gray color for the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* Darker gray on hover */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #9ca3af transparent; /* Thumb and track colors */
}

